@media (max-width: 1200px) {
  :root {
    --base-size: 0.7rem;
  }

  .wrapper {
    grid:
      "header" minmax(min-content, 150px)
      "main-container" 1fr
      "footer" minmax(min-content, 80px)
      / 1fr;
  }
  .dashboard {
    width: 100%;
  }

  .dashboard__left,
  .dashboard__right {
    display: none;
  }

  .dialog {
    width: calc(var(--size) * 20);
  }

  .setting-p--rounds > input {
    width: calc(var(--size) * 5);
  }

  .game-board {
    height: 75vmin;
  }
}

@media (max-width: 500px) {
  :root {
    --base-size: 0.5rem;
  }

  .dashboard-footer__part--header {
    display: none;
  }

  .profile-right {
    grid:
      "image" 2fr
      "user-name" 1fr
      "score" 1fr
      / 1fr;

    padding-right: 1rem;
  }

  .profile-left {
    grid:
      "image" 2fr
      "user-name" 1fr
      "score" 1fr
      / 1fr;

    padding-left: 1rem;
  }

  .profile-right__image-container-container,
  .profile-right__user-name-container,
  .profile-right__score-container {
    justify-content: flex-end;
    align-items: center;
  }

  .profile-left__image-container-container,
  .profile-left__user-name-container,
  .profile-left__score-container {
    justify-content: flex-start;
    align-items: center;
  }

  .game-board {
    height: 90vmin;
  }

  .dialog {
    width: 100%;

    border-radius: 0;
    padding: 0.5rem;
    padding-bottom: 1.5rem;
  }

  .dialog__exit-button {
    height: calc(var(--size) * 2.2);
  }
}

@media (max-height: 450px) {
  :root {
    --base-size: 0.4rem;
  }

  .dialog {
    border-radius: 0;
  }

  .dialog__exit-button {
    height: calc(var(--size) * 2.2);
  }

  .game-board {
    height: 45vmin;
  }
}
