html,
body {
  height: 100%;
}

.wrapper {
  display: grid;
  grid:
    "header" minmax(min-content, 200px)
    "main-container" 1fr
    "footer" minmax(min-content, 100px)
    / 1fr;

  height: 100%;
}

/* ========================= */
/* Header Styling */
/* ========================= */

.header {
  grid-area: header;

  background-color: red;
}

/* ========================= */
/* Main Container Styling */
/* ========================= */

.main-container {
  grid-area: main-container;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: green;
}

.game-board {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.5rem;

  aspect-ratio: 1 / 1;
  width: auto;
  height: 60vmin;

  background-color: black;
}

.game-board__cell {
  background-color: orange;
}

/* ========================= */
/* Footer Styling */
/* ========================= */

.footer {
  grid-area: footer;

  background-color: blue;
}
