html,
body {
  height: 100%;
}

a:link,
a:visited {
  color: var(--accent-color);
}

a:hover,
a:active {
  color: var(--secondary-color);
}

.wrapper {
  display: grid;
  grid:
    "header" minmax(min-content, 200px)
    "main-container" 1fr
    "footer" minmax(min-content, 100px)
    / 1fr;

  height: 100%;
}

/* ========================= */
/* Header Styling */
/* ========================= */

.header {
  grid-area: header;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;

  background-color: var(--background-color);
  color: var(--text-color);
}

/* dashboard styling */

.dashboard {
  flex: auto;
  display: flex;
  justify-content: center;
  align-items: stretch;

  width: clamp(1200px, 90%, 2000px);
  height: auto;
}

.dashboard__left,
.dashboard__right {
  flex: initial;
  width: 100px;
}

.dashboard__right {
  background-image: linear-gradient(
    to top left,
    var(--background-color) 50%,
    var(--primary-color) 50%
  );
}

.dashboard__left {
  background-image: linear-gradient(
    to top right,
    var(--background-color) 50%,
    var(--primary-color) 50%
  );
}

/* dashboard main styling */

.dashboard__main {
  flex: 6;
  display: flex;
  align-items: stretch;
}

.profile-left,
.profile-right {
  flex: 2;
}

.game-status {
  flex: 1;
}

/* game status styling */

.game-status {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem 0;

  border-left: 3px solid var(--accent-color);
  border-radius: 10% / 50%;
  border-right: 3px solid var(--accent-color);
}

.game-status__text {
  text-align: center;
}

/* dashboard main profile left */

.profile-left {
  display: grid;
  grid:
    "image user-name" 1fr
    "image score" 1fr
    / 1fr 2fr;

  min-width: 0;
}

.profile-left__image-container-container {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-left__image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;
  width: calc(var(--size) * 2.5);
  height: auto;

  background-color: var(--secondary-color);

  border-radius: 50%;
  border: 2px solid var(--accent-color);

  overflow: hidden;
}

.profile-left__image {
  object-fit: cover;
}

.profile-left__user-name-container {
  grid-area: user-name;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;

  min-width: 0;
}

.profile-left__user-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile-left__score-container {
  grid-area: score;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile-left__user-name,
.profile-left__score {
  color: var(--text-color);
}

/* dashboard main profile right */

.profile-right {
  display: grid;
  grid:
    "user-name image" 1fr
    "score image" 1fr
    / 2fr 1fr;
}

.profile-right__image-container-container {
  grid-area: image;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-right__image-container {
  display: flex;
  justify-content: center;
  align-items: center;

  aspect-ratio: 1 / 1;
  width: calc(var(--size) * 2.5);
  height: auto;

  background-color: var(--secondary-color);

  border-radius: 50%;
  border: 2px solid var(--accent-color);

  overflow: hidden;
}

.profile-right__image {
  object-fit: cover;
}

.profile-right__user-name-container {
  grid-area: user-name;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  min-width: 0;
}

.profile-right__user-name {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.profile-right__score-container {
  grid-area: score;
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
}

.profile-right__user-name,
.profile-right__score {
  color: var(--text-color);
}

/* dashboard-footer styling */

.dashboard-footer {
  display: flex;
  gap: 3rem;

  width: auto;
  height: min-content;
}

.dashboard-footer__part {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;

  padding: 0 2rem 0.5rem;

  border-radius: 0 0 500px 500px;
}

.dashboard-footer__header {
  color: var(--text-color);
}

.dashboard-footer__button {
  all: unset;

  flex: none;

  width: var(--size);

  fill: var(--text-color);

  transition-duration: 0.2s;
}

.dashboard-footer__button:hover {
  cursor: pointer;
  transform: scale(1.1, 1.1);
}

.dashboard-footer__button:focus {
  fill: var(--background-opposite-color);
  filter: drop-shadow(3px 3px 2px var(--text-color));
}

.dashboard-footer__icon {
  pointer-events: none;
}

/* mixed dashboard and dashboard-footer styling */

.dashboard__part,
.dashboard-footer__part {
  background-color: var(--primary-color);
}

/* ========================= */
/* Dialog Styling */
/* ========================= */

.dialog {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;

  width: calc(var(--size) * 12);
  height: clamp(320px, 50vh, 600px);
  padding: 1.5rem;

  background-color: var(--background-color);
  border: 5px solid var(--accent-color);
  border-radius: 1rem;

  box-shadow: 0 0 0.8rem rgb(from var(--background-opposite-color) r g b / 50%);

  min-width: 0;
}

.dialog::backdrop {
  background-color: rgb(from var(--background-opposite-color) r g b / 20%);
}

/* ========================= */
/* Main Styling */
/* ========================= */

.main-container {
  grid-area: main-container;
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem 0;

  background-color: var(--background-color);
}

.game-board {
  display: grid;
  grid: repeat(3, 1fr) / repeat(3, 1fr);
  gap: 0.5rem;

  aspect-ratio: 1 / 1;
  width: auto;
  height: 60vmin;

  background-color: var(--text-color);
}

.game-board__cell {
  background-color: var(--background-color);
}

/* ========================= */
/* Footer Styling */
/* ========================= */

.footer {
  grid-area: footer;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--primary-color);
}

.footer__text {
  text-align: center;
}
